<!DOCTYPE html><html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/bio">Bio</a>
        <a href="/content" class="active">Content</a>
        <a href="https://github.com/SamuelSchlesinger/PersonalWebsite" target="_blank">Github</a>
      </nav>
    </div>

    <div class="content">
      <dl>
        <dt><a href="/content/medium">Medium Sketch</a></dt>
        <dd>A grid where cells are initialized with values from -1 to 1 and then are averaged to produce 
            a wavelike phenomenon, as if the grid itself is a medium for some sort of wavelike phenomena. </dd>
        <dt><a href="/content/gravity">Gravity Sketch</a></dt>
        <dd>A view of particles interacting with a basic square attraction law. </dd>
        <dt><a href="/content/direct-democracy">Direct Democracy Story</a></dt>
        <dd>A work of speculative fiction involving an app and digital currency which are used to implement 
            some form of direct democracy, and the antics which societies engage in with such a system. </dd>
      </dl>
    </div>

    <div class="text-container">
      <h2> The Idea </h2>
      <p> The idea here is to imagine a society which is governed by an app which presides over policies which
          are predominantly implemented as algorithms controlling financial policy, taxation, warfare, social
          standards, various regulations, etc. There are automated systems of enforcement for these policies
          and we imagine these to be faithful, as in they execute the policies which are voted upon each time
          in a decently predictable way. There is much that can be and has been written about a society which 
          allows machines to control things in this way wherein the machines go wrong or are harmful, but this
          particular work is more about the ways in which humans use this government in ways which are wrong. </p>

      <p> The predominant story arcs will surround people in various states controlled in this way and their
          perceptions of the system as well as their experiences in the world which results in using it. Warfare
          is democratized in such a way that you can have truly popular wars, governed in detail by the policies
          and leaders put out by these democratic systems. These wars won't be like the former wars of
          state-dictated nationalism, but will be a grass-roots violence which springs from the society and is
          participated in by the society in ways, digital and economic, in ways which might remind us of the
          way Napoleon's armies changed the nature of mass warfare. These forms of participation might include
          things like: </p>
      
        <ul>
          <li> Massive invasions of the digital space of the other nation, cluttering their popular forums with
               hate or lies or fake news or memes or whatever it may be. </li>
          <li> Economic warfare by selecting towns with powerful local industries and crowdfunding their demise
               by offering alternative, cheaper sources of their product and removing their competitive advantage.  
               </li>
          <li> Bot networks which are run by the technologically savvy members of the society, strafing their
               social, political, and military infrastructure with false signals of various sorts. </li>
          <li> Artificial intelligence agents which are acting as agents of the country in question are set to
               discriminate in any way they can against nationals of the country you're at war with, not committing
               blocks sent by them to digital currency ledgers, not clearing their trades in markets they're
               operating undisguised in, etc. </li>
          <li> Robot fighting leagues which produce killer robots which can be immediately imported into warfare. </li>
        </ul>

        <p> As we see, popular struggle between nation states becomes something that the technologically savvy
            within a society can participate in personally, through a number of affordable proxies. One merely
            has to look at cities like Shenzen to be terrified of what would happen if a nation like China
            were set on you with popular force and participation. Nuclear warfare would be touched upon in the
            story, as, though I still think it would be rare, it seems possible from time to time and the national
            shame associated with that is much more severe with that of a leader doing it, as everyone who voted for
            it has a little piece of that blame. 
        </p>

        <p> To set upon making this story, I have to start with the basics of such a society: what does governance
            look like? How digital and automated does your society have to be for this sort of direct application
            of legislation, the automated implementation of law through executive machines (maybe call them
            executors)? 
    </div>

  </body>
</html>
