<!DOCTYPE html><html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/bio" class="active">Bio</a>
        <a href="/content">Content</a>
        <a href="https://github.com/SamuelSchlesinger/PersonalWebsite" target="_blank">Github</a>
      </nav>
    </div>
    
    <div class="text-container">
      <h2> Who Am I? </h2>
      <p> I'm an American student of mathematics and computer science at the University of Massachusetts, Amherst
          set to graduate in May of 2019. I study things like machine learning, computational complexity theory,
          and programming language theory in my free time, and I would love to incorporate these into my work
          one day. </p>

      <h2> Should you hire me? </h2>
      <p> In fact, I really think you should hire me. I'll be looking for work come May in software development,
          data analytics, or research. My experience is strongest in web development, machine learning and data
          science, and networked, concurrent programming. I have experience in more or less all programming
          languages, as I've written a lot of code in my spare time throughout my education and love programming
          languages. I've even written a few interpreters and a compiler myself, though some of those languages
          were experimental to say the least. </p> 
    </div>
  </body>
</html>
