<!DOCTYPE html><html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/bio">Bio</a>
        <a href="/content" class="active">Content</a>
        <a href="https://github.com/SamuelSchlesinger" target="_blank">Github</a>
      </nav>
    </div>

    <div class="content">
      <dl>
        <dt><a href="/sketch/medium">Medium Sketch</a></dt>
        <dd>A grid where cells are initialized with values from -1 to 1 and then are averaged to produce 
            a wavelike phenomenon, as if the grid itself is a medium for some sort of wavelike phenomena. </dd>
        <dt><a href="/sketch/gravity">Gravity Sketch</a></dt>
        <dd>A view of particles interacting with a basic square attraction law. </dd>
        <dt><a href="/writing/direct-democracy">Direct Democracy Story</a></dt>
        <dd>A work of speculative fiction involving an app and digital currency which are used to implement 
            some form of direct democracy, and the antics which societies engage in with such a system. </dd>
      </dl>
    </div>

  </body>
</html>
