<!DOCTYPE html>
<html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/contact" class="active">Contact</a>
        <a href="/bio">Bio</a>
        <a href="/content">Content</a>
        <a href="https://github.com/SamuelSchlesinger/PersonalWebsite" target="_blank">Github</a>
      </nav>
    </div>

    <div class="text-container">
      <form action="/contact" method="post">
        <h2> To make sure you aren't a robot, submit a long word which is still a word even if you take away one letter: </h2> <br>
        <input type="text" name="word">
        <input type="submit" value="Submit">
        <h2> An example would be "tearing", taking out the "e" to make "taring" </h2>
      </form>
    </div>
    
  </body>
</html>
