<!DOCTYPE html><html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/" class="active">Home</a>
        <a href="/contact">Contact</a>
        <a href="/bio">Bio</a>
        <a href="/content">Content</a>
        <a href="https://github.com/SamuelSchlesinger/PersonalWebsite" target="_blank">Github</a>
      </nav>
    </div>  

    <div class="text-container">
      <h2> Welcome! </h2>
      <p> Welcome to my homepage! I'm Samuel Schlesinger, a student, researcher, and software 
          developer.
      </p>

      <h2> History </h2>
      
          I worked at <a href="https://www.autodesk.com">Autodesk</a> recommending and 
          implementing machine learning techniques to their security team using Haskell, Python, and
          JavaScript. I then worked at <a href="https://theam.io">theam.</a> where I co-created the
          <a href="https://haskell.do">haskell.do</a> integrated development environment for data
          science in Haskell and did research on machine learning in Haskell. Alongside this work,
          I did research at Boston University on machine learning as applied to human computer
          interaction, as well as research in the University of Colorado, Boulder on an intersection
          of computational complexity theory and machine learning, studying a complexity measure
          on probability distributions defined by a expressibility by a particular machine learning 
          model.

      <h2> Services </h2>
      <ul>
        <li> I deliver servers, websites, and computer programs of many different kinds. 
        </li>
        <li> I do research for people who want advice on action in a particular domain or simply 
             a summary of a topic.
        </li>
        <li> I perform arbitrary data science tasks as well as consult on potential usage of data 
            science.
        </li>
        <li> I use machine learning to help people solve problems and consult on machine learning 
             topics such as your organization's readiness or need for methods from machine learning.
        </li>
      </ul>
      <p> Go to <a href="/contact">the contact tab</a> if you'd like to send me a
          proposal or ask about my rates. If your project has moral value or is interesting to me
          I will likely be quite flexible.
      </p>

    </div>

  </body>
</html>
