<!DOCTYPE html><html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/bio">Bio</a>
        <a href="/sketch" class="active">Sketch</a>
        <a href="https://github.com/SamuelSchlesinger">Github</a>
      </nav>
    </div>
    <div id='sketch'></div>
    <script src="/js/sketch.js"></script>  
  </body>
</html>
