<!DOCTYPE html>
<html>
  <head>
    <title> Samuel Schlesinger's Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  
  <body>
    <div class="header">
      <h1> Samuel Schlesinger's Homepage </h1>
      <nav class="navigation">
        <a href="/">Home</a>
        <a href="/contact" class="active">Contact</a>
        <a href="/bio">Bio</a>
        <a href="/content">Content</a>
        <a href="https://github.com/SamuelSchlesinger/PersonalWebsite" target="_blank">Github</a>
      </nav>
    </div>

    <div class="text-container">
      <h2> You must be human! </h2>
      <p> My email is <a href="mailto:SGSchlesinger@gmail.com">SGSchlesinger@gmail.com</a>
      </p>
    </div>
    
  </body>
</html>
